<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <!-- FORM -->
    <form #authForm="ngForm" (ngSubmit)="onAuth(authForm)">
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="email"
          ngModel
          required
        />
      </div>

      <!-- Password -->
      <div class="form-group mt-2">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          minlength="6"
          ngModel
          required
        />
      </div>

      <!-- Actions -->
      <div class="mt-3">
        <!-- Submit -->
        <button class="btn btn-primary" type="submit">
          Sign {{ mode === "LOGIN" ? "In" : "Up" }}
        </button>

        <!-- Change Mode -->
        <button
          (click)="mode === 'LOGIN' ? (mode = 'REGISTER') : (mode = 'LOGIN')"
          class="btn btn-link"
          type="button"
        >
          {{
            mode === "LOGIN"
              ? "Not a member yet? Register now."
              : "Already a user? Sign in here."
          }}
        </button>
      </div>
    </form>
  </div>
</div>
