<main class="container">
  <!-- NAVBAR -->
  <header>
    <div>
      <app-navbar></app-navbar>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <section class="row mt-4 container">
    <div class="col-md-10 mx-auto">
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-notification-modal></app-notification-modal>
