<div class="row">
  <div class="col-md-12">
    <h2>{{ bookDetails.title }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>{{ bookDetails.author }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img
      [src]="bookDetails.coverImagePath"
      [alt]="bookDetails.title"
      class="img-responsive"
    />
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <div class="dropdown" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Edit Book
      </button>

      <div class="dropdown-menu">
        <a class="dropdown-item">Update Book</a>
        <a class="dropdown-item">Delete Book</a>
      </div>
    </div>
  </div>
</div>
